.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::after{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}
/*块级元素居中*/
.m-center{
    margin: 0 auto;
}
.t-center{
    text-align: center;
}
/*鼠标point*/
.cur-p{
    cursor: pointer;
}

.mlr10{
    margin: 0 10px;
}
.mlr15{
    margin: 0 15px;
}
.mlr20{
    margin: 0 20px;
}
.mlr30{
    margin: 0 30px;
}
/* margin-left*/
.ml10{
     margin-left: 10px;
}
.ml15{
    margin-left: 15px;
}
.ml20{
    margin-left: 20px;
}
.ml30{
    margin-left: 30px;
}

/*padding-left-right*/
.plr10{
    padding:0 10px;
}
.plr15{
    padding:0 15px;
}
.plr20{
    padding:0 20px;
}
.plr30{
    padding:0 30px;
}
/*padding-right*/
/*padding-left*/
.pl10{
    padding-left: 10px;
}
.pl15{
    padding-left: 15px;
}
.pl20{
    padding-left: 20px;
}
.pl30{
    padding-left: 30px;
}
/*padding-right*/
.pr10{
    padding-right: 10px;
}
.pr15{
    padding-right: 15px;
}
.pr20{
    padding-right: 20px;
}
.pr30{
    padding-right: 30px;
}
/*padding-top*/
.pt10{
    padding-top: 10px;
}
.pt15{
    padding-top: 15px;
}
.pt20{
    padding-top: 20px;
}
.pt30{
    padding-top: 30px;
}
/*padding-bottom*/
.pb10{
    padding-bottom: 10px;
}
.pb15{
    padding-bottom: 15px;
}
.pb20{
    padding-bottom: 20px;
}
.pb30{
    padding-bottom: 30px;
}
/* margin-right*/
.mr10{
    margin-right: 10px;
}
.mr15{
    margin-right: 15px;
}
.mr20{
    margin-right: 20px;
}
.mr30{
    margin-right: 30px;
}

.mt10{
    margin-top: 10px;
}

.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}

.mb10{
    margin-bottom: 10px;
}

.mb15{
    margin-bottom: 15px;
}
.mb20{
    margin-bottom: 20px;
}
.mb30{
    margin-bottom: 30px;
}
.v-mid{
    vertical-align: middle;
}
/*flex布局水平居中*/
.flex-center{
    display: flex;
    align-items: center;
}

/*a标签样式*/
.primary-a{
    text-decoration: none;
    color: #409EFF;
}
.gray-a{
    text-decoration: none;
    color: #666;
}